.banner-digital{
    width: 100%;
    height: 480px;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
}

.banner-digital-title{
    color: #fff;
    text-align: justify;
    font-size: 88px;
    font-weight: 700;
    margin-top: 4%;
    font-family: "Poppins", sans-serif;
}

.banner-digital-container-a{
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-left: 10%;
}

.banner-digital-container-a p{
    color: #fff;
    width: 60%;
    font-size: 15px;
    font-weight: 500;
    text-align: justify;
    margin-bottom: 20px;
    font-family: "Poppins", sans-serif;
}

.button-container{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.btn-store{
    width: 136px;
    height: 41px;
}

.img-phone-container{
    display: flex;
    flex-direction: row;
    height: 100%;
}

.img-phone-2{
    width: 310px;
    height: 240px;
    margin-top: 240px;
    margin-right: 60px;
}

.img-phone-1{
    width: 280px;
    height: 440px;
}

@media (max-width: 1024px) and (min-width: 768px) {}


@media (max-width: 480px) and (min-width: 320px) {
    .banner-digital{
        height: 200px;
    }

    .banner-digital-title{
        font-size: 20px;
        margin-top: 20%;
    }

    .banner-digital-container-a p{
        font-size: 8px;
        width: 90%;
    }

    .button-container{
        width: 85%;
    }

    .btn-store{
        width: 68px;
        height: 20px;
    }

    .img-phone-2{
        width: 90px;
        height: 80px;
        margin-top: 120px;
        margin-right: 15px;
    }
    
    .img-phone-1{
        width: 100px;
        height: 150px;
        margin-top: 35px;
    }
}