@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

.section-gestion-a{
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
}

.section-gestion-a p{
    width: 40%;
    text-align: justify;
    font-weight: 500;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
}

.section-gestion-b{
    display: flex;
    align-items: center;
    gap: 2%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
}

.section-gestion-b img{
    width: 450px;
    height: 382px;
}

.section-gestion-b p{
    text-align: justify;
    font-weight: 500;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
}

.section-gestion-c{
    display: flex;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10%;
}

.gestion-container-a{
    display: flex;
    flex-direction: column;
    width: 60%;
}

.gestion-container-a p{
    text-align: justify;
    font-weight: 500;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    margin-bottom: 5%;
}

.gestion-distinction{
    color: #9AD74D;
}