@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

.header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 100;
}

.logo{
  height: 54px;
  width: 54px;
}

.navbar a{
    position: relative;
    font-size: 15px;
    color: #fff;
    font-weight: 500;
    margin-left: 20px;
    font-family: "Poppins", sans-serif;
}