.section-individual-a{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

.section-individual-a h1{
    font-weight: 700;
    font-size: 50px;
    color: #4285F4;
    font-family: "Poppins", sans-serif;
}

.work-gif{
    width: 480px;
    height: 480px;
}

@media (max-width: 1024px) and (min-width: 768px) {}


@media (max-width: 480px) and (min-width: 320px) {
    .section-individual-a h1{
        font-size: 25px;
    }

    .work-gif{
        width: 240px;
        height: auto;
    }

}