.section-gob-a{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 5%;
    width: 95%;
}

.section-container-a{
    display: flex;
    margin-left: 10%;
    margin-right: 5%;
    flex-direction: column;

}

.section-container-a p{
    font-weight: 500;
    font-size: 16px;
    text-align: justify;
    margin-bottom: 5%;
    font-family: "Poppins", sans-serif;
}

.video-player{
    width: 850px;
    height: 450px;
}

.section-gob-b{
    display: flex;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
}

.lottie-gob-a{
    width: 360px;
    height: 360px;
}

.section-gob-b{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10%;
}

.section-container-b {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 5%;
    width: 60%;
}

.section-container-b p{
    font-weight: 500;
    font-size: 16px;
    text-align: justify;
    margin-bottom: 2%;
    font-family: "Poppins", sans-serif;
}

.gob-distinction-blue{
    color: #4285F4;
}

.gob-distinction{
    color: #9AD74D;
}

@media (max-width: 1024px) and (min-width: 768px) {}

@media (max-width: 480px) and (min-width: 320px) {
    .section-container-a p{
        font-size: 8px;
    }

    .video-player{
        width: 320px;
        height: 115px;
    }    

    .section-container-b {
        align-items: flex-start;
        width: 100%;
        margin-bottom: 10%;
    }

    .section-container-b p{
        font-size: 8px;
    }

    .lottie-gob-a{
        width: 180px;
        height: auto;
    }
    
}