@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.home-container{
    display: flex;
    margin-top: 5%;
    justify-content: space-between;
}

.home-title{
    font-weight: 700;
    font-size: 40px;
    color: #4285F4;
    font-family: "Poppins", sans-serif;
}

.home-container p{
    font-weight: 500;
    font-size: 16px;
    text-align: justify;
    font-family: "Poppins", sans-serif;
}

.home-distinction{
    color: #9AD74D;
}

.home-text{
    width: 60%;
    margin-left: 10%;
}

.view-home-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.view-home-container h3{
    text-align: center;
    font-weight: 600;
    color: #4285F4;
    font-size: 30px;
    margin-top: 10%;
    font-family: "Poppins", sans-serif;
}

.mission{
    display: flex;
    margin-left: 5%;
    margin-top: 5%;
}

.txt-container{
    text-align: justify;
    width: 40%;
}

.mission h2{
    font-weight: 700;
    font-size: 40px;
    color: #4285F4;
    font-family: "Poppins", sans-serif;
}

.mission p{
    font-weight: 500;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
}

.vision{
    display: flex;
    flex-direction: row-reverse;
    margin-right: 5%;
    margin-top: 5%;
}

.txt-container{
    text-align: justify;
    width: 40%;
}

.vision h2{
    font-weight: 700;
    font-size: 40px;
    color: #4285F4;
    font-family: "Poppins", sans-serif;
}

.vision p{
    font-weight: 500;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
}

.values{
    display: flex;
    margin-left: 5%;
    margin-top: 5%;
}

.values h2{
    font-weight: 700;
    font-size: 40px;
    color: #4285F4;
    font-family: "Poppins", sans-serif;
    text-align: center;
}