@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.distinction-green{
    color: #9AD74D;
}

.distinction-blue{
    color: #4285F4;
}

.home-container{
    display: flex;
    margin-top: 5%;
    justify-content: space-between;
}

.home-title{
    font-weight: 700;
    font-size: 40px;
    color: #4285F4;
    font-family: "Poppins", sans-serif;
}

.home-container p{
    font-weight: 500;
    font-size: 16px;
    text-align: justify;
    font-family: "Poppins", sans-serif;
}

.home-distinction{
    color: #9AD74D;
}

.home-text{
    width: 60%;
    margin-left: 10%;
}

.view-home-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.view-home-container h3{
    text-align: center;
    font-weight: 600;
    color: #4285F4;
    font-size: 30px;
    margin-top: 10%;
    font-family: "Poppins", sans-serif;
}

.mission{
    display: flex;
    margin-left: 5%;
    margin-top: 5%;
}

.txt-container{
    text-align: justify;
    width: 40%;
}

.mission h2{
    font-weight: 700;
    font-size: 40px;
    color: #4285F4;
    font-family: "Poppins", sans-serif;
}

.mission p{
    font-weight: 500;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
}

.vision{
    display: flex;
    flex-direction: row-reverse;
    margin-right: 5%;
    margin-top: 5%;
}

.txt-container{
    text-align: justify;
    width: 40%;
}

.vision h2{
    font-weight: 700;
    font-size: 40px;
    color: #4285F4;
    font-family: "Poppins", sans-serif;
}

.vision p{
    font-weight: 500;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
}

.values{
    display: flex;
    margin-left: 5%;
    margin-top: 5%;
}

.values h2{
    font-weight: 700;
    font-size: 40px;
    color: #4285F4;
    font-family: "Poppins", sans-serif;
    text-align: center;
}

.btn-container{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-evenly;
    margin-top: 50px;
    margin-bottom: 5%;
}

.btn-certif{
    background: none;
    border-width: 0;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
}

.btn-certif.active {
    background: rgba(0, 114, 188, 0.3);
    color: #0072BC;
    padding: 20px 35px 20px 35px;
    border-radius: 30px;
  }

.digital-section-a{
    display: flex;
    flex-direction: column;
    margin-top: 5%;
}

.digital-section-a p{
    width: 60%;
    font-weight: 500;
    font-size: 16px;
    margin-left: 10%;
    font-family: "Poppins", sans-serif;
}

.card-digital-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 40px;
}

.card-digital-container card{
    width: 300px;
    font-size: 20px;
    text-align: center;
    font-weight: 600;
    color: #fff;
    font-family: "Poppins", sans-serif;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    margin: 10px;
}

.card-a{
    padding: 15px;
    background-color: #E37F0A;
}

.card-b{
    padding: 15px;
    background-color: #E3CD0A;
}

.card-c{
    background-color: #0AE354;
}


.digital-container-a{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 10%;
}

.digital-container-a p{
    text-align: justify;
    margin-left: 40%;
    margin-right: 10%;
    width: 100%;
}

.digital-container-b{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 5%;
}

.digital-container-b p{
    width: 45%;
    text-align: justify;
}

.digital-container-c{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-bottom: 5%;
}

.digital-container-c h2{
    color: #4285F4;
    font-weight: 700;
    font-size: 40px;
    margin-left: 10%;
    font-family: "Poppins", sans-serif;
}

.img-list-contain{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 20px;
}

.img-list-contain ul{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 16px;
    list-style: disc;
    padding: 0;
    margin: 0;
}

.img-list-contain li{
    text-align: justify;
    margin-right: 20%;
    margin-bottom: 15px;
}