@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.distinction-green{
    color: #9AD74D;
}

.distinction-blue{
    color: #4285F4;
}

.home-title{
    font-weight: 700;
    font-size: 40px;
    color: #4285F4;
    font-family: "Poppins", sans-serif;
}

.home-container-a{
    display: flex;
    margin-top: 5%;
    margin-right: 10%;
    justify-content: space-between;
    align-items: center;

}

.lottie-animation-a{
    width: 600px;
    height: 600px;
}

.home-container-a p{
    font-weight: 500;
    font-size: 16px;
    text-align: justify;
    margin-right: 10%;
    font-family: "Poppins", sans-serif;
}

.home-container-b{
    display: flex;
    margin-left: 10%;
    justify-content: space-between;
    align-items: center;
}

.lottie-animation-b{
    width: 600px;
    height: 400px;
}

.home-container-b p{
    font-weight: 500;
    font-size: 16px;
    text-align: justify;
    margin-right: 20%;
    font-family: "Poppins", sans-serif;
}

.home-distinction{
    color: #9AD74D;
}

.home-text{
    width: 60%;
    margin-left: 10%;
}

.view-home-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10%;
}

.view-home-container h3{
    text-align: center;
    font-weight: 600;
    color: #4285F4;
    font-size: 30px;
    margin-top: 10%;
    font-family: "Poppins", sans-serif;
}

.mission img, .vision img{
    width: 450px;
    height: 270px;
}

.mission{
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    align-items: center;
}

.txt-container{
    text-align: justify;
    width: 50%;
}

.mission h2{
    font-weight: 700;
    font-size: 40px;
    color: #4285F4;
    font-family: "Poppins", sans-serif;
}

.mission p{
    margin-right: 10%;
    text-align: justify;
    font-weight: 500;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
}

.vision{
    display: flex;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
}

.txt-container-b{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.vision h2{
    font-weight: 700;
    font-size: 40px;
    color: #4285F4;
    font-family: "Poppins", sans-serif;
}

.vision p{
    text-align: justify;
    font-weight: 500;
    font-size: 16px;
    margin-left: 10%;
    font-family: "Poppins", sans-serif;
}

.values{
    display: flex;
    margin-left: 5%;
    margin-top: 5%;
}

.values h2{
    font-weight: 700;
    font-size: 40px;
    color: #4285F4;
    font-family: "Poppins", sans-serif;
    text-align: center;
}

.btn-container{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-evenly;
    margin-top: 50px;
    margin-bottom: 5%;
}

.btn-certif{
    background: none;
    border-width: 0;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
}

.btn-certif.active {
    background: rgba(0, 114, 188, 0.3);
    color: #0072BC;
    padding: 20px 35px 20px 35px;
    border-radius: 30px;
  }

.digital-section-a{
    display: flex;
    flex-direction: column;
    margin-top: 5%;
}

.digital-section-a p{
    width: 60%;
    font-weight: 500;
    font-size: 16px;
    margin-left: 10%;
    font-family: "Poppins", sans-serif;
}

.card-digital-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 40px;
}

.card-digital-container card{
    width: 300px;
    font-size: 20px;
    text-align: center;
    font-weight: 600;
    color: #fff;
    font-family: "Poppins", sans-serif;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
    border-radius: 30px;
    margin: 10px;
}

.card-a{
    padding: 15px;
    background-color: #E37F0A;
}

.card-b{
    padding: 15px;
    background-color: #E3CD0A;
}

.card-c{
    background-color: #0AE354;
}


.digital-container-a{
    display: flex;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
}

.digital-container-a p{
    text-align: justify;
    width: 65%;
}

.digital-container-b{
    display: flex;
    align-items: center;
}

.digital-container-b p{
    width: 46%;
    text-align: justify;
}

.digital-container-c{
    display: flex;
    flex-direction: column;
    margin-bottom: 5%;
}

.digital-container-c h2{
    color: #4285F4;
    font-weight: 700;
    font-size: 40px;
    margin-left: 10%;
    font-family: "Poppins", sans-serif;
}

.img-list-contain-a{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-left: 10%;
    margin-right: 10%;
}

.img-cir-phone{
    width: 350px;
    height: 450px;
}

.img-list-contain-a ul{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 16px;
    list-style: disc;
}

.img-list-contain-a li{
    text-align: justify;
    margin-bottom: 15px;
}

.digital-container-d{
    display: flex;
    flex-direction: column;
    margin-bottom: 5%;
}

.digital-container-d h2{
    color: #4285F4;
    font-weight: 700;
    font-size: 40px;
    margin-left: 10%;
    font-family: "Poppins", sans-serif;
}

.img-list-contain-b{
    display: flex;
    margin-top: 10px;
    margin-left: 10%;
    margin-right: 10%;
}

.img-list-contain-b ul{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 16px;
    list-style: disc;
    padding: 0;
    margin: 0;
}

.img-list-contain-b li{
    text-align: justify;
    margin-left: 6%;
    margin-bottom: 15px;
}

.img-lap{
    width: 522px;
    height: 600px;
}

.service-section-a{
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    margin-left: 10%;
}

.service-section-a h2{
    font-weight: 700;
    font-size: 40px;
    color: #4285F4;
    font-family: "Poppins", sans-serif;
}

.service-section-a p, .container-services-a p{
    font-weight: 500;
    font-size: 16px;
    text-align: justify;
    font-family: "Poppins", sans-serif;
}

.container-services-a{
    margin-top: 20px;
    width: 60%;
}

.container-services-a p{
    margin-right: 40%;
    margin-bottom: 3%;
}

.container-services-b{
    width: 100%;
}

.service-section-b{
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    margin-left: 10%;
    margin-bottom: 5%;
}

.service-section-b h2{
    font-weight: 700;
    font-size: 40px;
    color: #4285F4;
    font-family: "Poppins", sans-serif;
}

.service-section-b p{
    font-weight: 500;
    font-size: 16px;
    text-align: justify;
    margin-right: 10%;
    font-family: "Poppins", sans-serif;
}

.card-container-service{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2%;
    margin: 5%;
    margin-right: 10%;
}

.card-service-a{
    width: 270px;
    height: 65px;
    font-size: 20px;
    text-align: center;
    font-weight: 600;
    color: #fff;
    font-family: "Poppins", sans-serif;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
    border-radius: 30px;
    padding: 15px;
    background-color: #E37F0A;
}

.card-service-b{
    width: 270px;
    height: 65px;
    font-size: 20px;
    text-align: center;
    font-weight: 600;
    color: #fff;
    font-family: "Poppins", sans-serif;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
    border-radius: 30px;
    padding: 15px;
    background-color: #E3CD0A;
}

.card-service-c{
    width: 270px;
    font-size: 23px;
    text-align: center;
    font-weight: 600;
    color: #fff;
    font-family: "Poppins", sans-serif;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
    border-radius: 30px;
    background-color: #0AE354;
}

.service-section-c{
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
}

.service-section-c h2{
    font-weight: 700;
    font-size: 40px;
    color: #4285F4;
    font-family: "Poppins", sans-serif;
}

.container-service-b{
    display: flex;
    align-items: center;
}

.container-service-b p{
    width: 70%;
    margin-left: 50px;
    font-weight: 500;
    font-size: 16px;
    text-align: justify;
    font-family: "Poppins", sans-serif;
}

.container-service-c{
    display: flex;
    align-items: center;
}

.container-service-c p{
    width: 50%;
    font-weight: 500;
    font-size: 16px;
    text-align: justify;
    font-family: "Poppins", sans-serif;
}

.service-section-d{
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10%;
}

.service-section-d h2{
    font-weight: 700;
    font-size: 40px;
    color: #4285F4;
    font-family: "Poppins", sans-serif;
}

.card-container-temas{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.card-container-temas card{
    background-color: #0072BC;
    color: #fff;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    margin-bottom: 10px;
    width: 48%;
    border-radius: 30px;
    font-family: "Poppins", sans-serif;
    
}

@media (max-width: 1024px) and (min-width: 768px) {
    .home-title{
        font-size: 30px;
    }

    .lottie-animation-a{
        width: 400px;
        height: 400px;
    }

    .home-container-a p{
        font-size: 12px;
    }

    .lottie-animation-b{
        width: 300px;
        height: 200px;
    }

    .home-container-b p{
        font-weight: 500;
        font-size: 12px;
    }

    .view-home-container h3{
        font-weight: 600;
        font-size: 25px;
    }
}
  
  @media (max-width: 480px) and (min-width: 320px) {
    .home-title{
        font-size: 15px;
    }

    .lottie-animation-a{
        width: 200px;
        height: 200px;
    }

    .home-container-a p{
        font-size: 6px;
    }

    .lottie-animation-b{
        width: 150px;
        height: 100px;
    }

    .home-container-b p{
        font-weight: 500;
        font-size: 6px;
    }

    .view-home-container h3{
        font-weight: 600;
        font-size: 15px;
    }

}