@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

.banner-comp{
    height: 400px;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.banner-title{
    color: #fff;
    text-align: center;
    font-size: 90px;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
}